.diplome {
    
    .diplomeContent {
        width: 100%;
        display: grid;
        min-height: $minHeight;
        grid-template-columns: 1fr;
        grid-template-rows: 50px 1fr;
        grid-template-areas: 
          "1"
          "2";
        background-color: $color-1;
        border-radius: $borderRadius;
  
       .diplomeId {
        position: absolute;
        margin-top: 2%;
        margin-left: 2%;
        margin-right: 2%;
/*         top: 20%;
        left: 13%; */
        font-family: $font-1;

            p {
            color: whitesmoke;
            margin-bottom: 5%;
            margin-right:3% ;
            }
            h3 {
            font-size: 1.4rem;
            margin-bottom: 1rem;
            font-family: $font-2;
            color: $color-5;
            text-transform: uppercase;
          }
          h4 {
            font-size: 1.1rem;
            color: $color-5;
          }
          h5 {
            color: $color-3;
            padding: 0.5rem 0 0.5rem 1rem;
          }
          p {
            text-align: justify;
            padding: 0 1rem;
          }
       } 
    }
  }
  @media screen and (max-width: 850px){
    .diplomeContent {
      margin: 0 !important;
    }
  }
  @media screen and (max-width:580px){
    .diplomeContent {
      h1 {
        font-size: 3rem !important;
      }
      h2 {
        font-size: 1.8rem !important;
      }
    }
  }